<div class="container mx-auto my-8">
  <div class="h-12">
    <button
      class="rounded bg-slate-600 text-white px-6 py-2 font-semibold"
      (click)="goToAddEmployee()">
      Add Employee
    </button>
  </div>
  <div class="flex shadow border-b">
    <table class="min-w-full">
      <thead class="bg-gray-50">
        <tr>
          <th
            class="text-left font-medium text-gray-500 uppercase tracking-wider py-3 px-6">
            First Name
          </th>
          <th
            class="text-left font-medium text-gray-500 uppercase tracking-wider py-3 px-6">
            Last Name
          </th>
          <th
            class="text-left font-medium text-gray-500 uppercase tracking-wider py-3 px-6">
            Email
          </th>
          <th
            class="text-right font-medium text-gray-500 uppercase tracking-wider py-3 px-6">
            Actions
          </th>
        </tr>
      </thead>

      <tbody *ngIf="!loading" class="bg-white">
        <tr *ngFor="let employee of employees">
          <td class="text-left px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">{{ employee.firstname }}</div>
          </td>
          <td class="text-left px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">{{ employee.lastname }}</div>
          </td>
          <td class="text-left px-6 py-4 whitespace-nowrap">
            <div class="text-sm text-gray-500">{{ employee.email }}</div>
          </td>
          <td
            class="text-right px-6 py-4 whitespace-nowrap font-medium text-sm">
            <a href="#" class="text-indigo-600 hover:text-indigo-800 px-4"
              >Edit</a
            >
            <a href="#" class="text-indigo-600 hover:text-indigo-800">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
